<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
<p><h4>'Team Name: <%=@team%>'</h4></p>
<p><h4>'Coach: <%=@coach%>'</h4></p>
<p><h4>'Point Guard: <%=@pg%>'</h4></p>
<p><h4>'Shooting Guard: <%=@sg%>'</h4></p>
<p><h4>'Small Forward: <%=@sf%>'</h4></p>
<p><h4>'Power Forward: <%=@pf%>'</h4></p>
<p><h4>'Center: <%=@c%>'</h4></p>
 </body>
</html>


